<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./src/Cli/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="REPOSITORY_URL" value="repo"/>
    </php>

    <logging>
        <!--<log type="coverage-xml" target="build/logs/coverage/xml"/>-->
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Cli/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
